{% extends 'main.html' %}

{% block content %}

<!--This is homepage for the website 
    Page gets tags, offers, offer_count and  offer_count_old  as input /-->

<!-- Styling for Div containers /-->
<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 10fr 1fr; 
    }

</style>


{% include 'navbar.html' %}

<div class="container text-center">
    <div class="home-container">
        <div></div>
        <div>
            <div></div>
            <div>
                <h2>{{mytitle}}</h2>
                <h2></h2>
                <h2></h2>
                <hr>
            </div>  

            <div>
                <table>
                    
                    
                    <tr>
                        {% for result in alternative %}
                            {% if result.1 != '' %}
                                <td> 
                                    <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="<div><h5>{{result.0}}</h5></div>" data-content="<div>{{result.1}}</div>">{{result.0}}</a>
                                </td>
                            {% else %}
                                <td> 
                                    <a tabindex="0" class="btn btn-lg" role="button" data-trigger="focus" title="<div><h5>{{result.0}}</h5></div>" data-content="<div>{{result.1}}</div>">{{result.0}}</a>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </table>
    
            </div> 
                <hr>
                <table class="table">
                {% for row in relationship %}
                    {% if forloop.parentloop.counter0 == 0 %}
                    <thead class="thead-light">
                        <tr>
                        {% for cols in row %}
                            {% if forloop.counter0 == 0 %}
                                <th scope="col">{{cols}}</th>
                            {% else %}
                                {% for col in cols %}
                                    <th scope="col">{{col}}</th>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% endif %}
                    
                    <tr>
                        {% for cols in row %}
                            {% if forloop.counter0 == 0 %}
                                <th scope="col">{{cols}}</th>
                            {% else %}
                                {% for col in cols %}
                                    <td scope="col">{% if col != 0 %} {{col}} {% endif %}</td>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </tr>

                {% endfor %}
                    </tbody>
                  </table>

        </div>
        <div></div>




    </div>
</div>


<!--        <td>{{result.comment.value}}</td> /-->



<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover({
            html:true,
        });   
    });
</script>


{% endblock content %}