{% extends 'main.html' %}

{% block content %}

<!--This is homepage for the website 
    Page gets tags, offers, offer_count and  offer_count_old  as input /-->

<!-- Styling for Div containers /-->
<style>
    .home-container{
        display: grid;
        grid-template-columns: 3fr 10fr 3fr; 
    }

</style>

<h1 class="text-center"> Crypto Semantics Search Tool </h1>

<div class="home-container">
    <div>
    </div>

    <!-- This block shows the categories of services provided at the website 
        It's also used a seach option for filtering offerings in the category/-->
    <div>
        <!-- This is for Search bar. When user inputs data and press Enter, it triggers search query at homepage /-->
        <div class="col-8">
            <form class="d-flex " method="GET" action="{% url 'home' %}">
                <input class="form-control me-2" type="text" name="q" placeholder="Search Articles" />
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>

    </div>

    <div>

    </div>
</div>



{% endblock content %}