{% extends 'main.html' %}

{% block content %}

{% load static %}

<!--This is homepage for the website 
    Page gets tags, offers, offer_count and  offer_count_old  as input /-->

<!-- Styling for Div containers /-->

{% include 'navbarsmall.html' %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 3fr 10fr 3fr; 
    }
</style>

<div class=" d-flex align-items-center min-vh-100">

    <div class="container text-center">
        
        <div class="container text-center">
            <img src="{% static 'images/logo.png' %}" width="360" height="140" />
            <h1 class="text-center"> Crypto Semantics Search Tool </h1>
    
        </div>
    
        <form class="row g-3 d-flex w-50 mx-auto" method="GET" action="{% url 'search' %}">
            <div class="col-10">
                <input class="form-control me-2" type="text" name="q" placeholder="Search Articles" />
            </div>
            <div class="col-2">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </div> 
            <div class="col-2">
                <label for="listtoday"><input type="radio" name="listselection" value="searchtoday" id="listtoday">Today</label>
            </div>
            <div class="col-2">
                <label for="listweek"><input type="radio" name="listselection" value="searchweek" id="listweek">This Week</label>
            </div>
            <div class="col-2">
                <label for="listmonth"><input type="radio" name="listselection" value="searchmonth" id="listmonth">This Month</label>
            </div>
            <div class="col-2">
                <label for="listyear"><input type="radio" name="listselection" value="searchyear" id="listyear"> This Year</label>
            </div>
            <div class="col-2">
                <label for="listall"><input type="radio" name="listselection" value="searchall" id="listall" checked> All</label>
            </div>
        
        </form>
    </div>
</div>
{% endblock content %}