{% load static %}

<!-- This page is navigation bar of main template. Below are items displayed at this bar:
    - Logo of the website
    - Search bar
    - User profile picture
    - User action menu 
/-->




<nav class="navbar navbar-expand-lg navbar-light bg-white ms-auto" >
    <div class="col-10">
    </div>
    
    {% if request.user.is_authenticated %} 
    <!-- If user is authenticated, then user profile picture is displayed with a badge on it showing number of unread notifications/-->
        
        <img src="{{request.user.profile.userPicture.url}}" class="rounded-circle position-relative"  width="50" height="50"> 

        <!-- This is dropdown menu for user having options:
            - Available Credit : Credit + Inprocess Credits
            - Profile Link for viewing profile details
            - Action Link for listing awating assignments for handshaking
            - Logout Link /-->
        <div class="dropdown col-1">
            <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ request.user }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <p class="dropdown-item text-primary"> Credits:  Ch </p>
                <hr>
                <a class="dropdown-item" href="{% url 'user-profile' request.user %}">Profile</a>
                <a class="dropdown-item" href="{% url 'searchsaved' %}">Saved Queries</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    <!-- If user is not authenticated, then Sing-In and Sign-Up buttons are displayed/-->
    {% else %}
        <div class="col-2">
            <a class="btn btn-primary" href="{% url 'login' %}" role="button">Sign In</a>
            <a class="btn btn-success" href="{% url 'signup' %}" role="button">Sign Up</a>
        </div> 
    {% endif %}
</nav>


